<section class="">
    <div class="">
        <h1><%= @post.title %></h1>
        <span >by <%= @user.name %></span>
        <span >Comments : <%= @post.comments_counter || 0 %>, Likes : <%= @post.likes_counter || 0 %></span>

            <div class="">
                <%= @post.text %>
            </div>
    </div>

    <div class="comment-container">
        <% if @post.comments.any? %>
            <% @post.comments.each do |comment| %>
                <div class="comment-card">
                    <div class='comment-name'> 
                    <%= @user.name %> : <span><%= @post.text %></span>
                    </div>
                </div>
            <% end %>
        <% else %>
            <div>No comments</div>
        <% end %>
    </div>
</section>